@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    display: flex;
    max-width: 100%;
    padding: 0 80px;
    margin: 0 auto;
}


.menu li a{
        list-style: none;
        text-decoration: none;
        color: #000;
        padding:10px;
        align-items: center;
        margin: 15px
       
    }

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .envolve-menu{
        width:100%;
        height: 100%;
    }


    .menu li {
        
        list-style: none;
        text-decoration: none;
    }



    .nav{
        display: flex;
        align-items: center;
        height: 100%;
        
       
    }

    .nav-button-abre{
        position: fixed;
        right: 10px;
    }



#home-historia, #home-estudo, #home-contato{
    font-size: Arial;
    font-weight: 500;
    font-size: 28px;
}



/*..Home inicio ..**/

.max-width-section{
   position: absolute;
   display: flex;
   align-items: center;
   flex-direction: column-reverse;
   justify-content: center;
   
   background: #000;
   height: 100vh;
   padding: 20px;

}
 .sessao-home{
    width: 100%;
    height: 100vh;
    padding-top:20px;
    
}

.text-1{
    color:#fff;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    
}

.span-nome{
    color:#4CCA5A;
}

.span-cid{
    color:brown;
}

.span-objetivos{
    color: brown
}

.span-solid{
    color: brown
}

.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}


.sessao-estudo{
    width: 100%;
    height: 100vh;
    background: #fff;
    color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
text-align: center;
margin-bottom: 50px;
font-size: 28px;
color: #000;
font-weight: bold;
}



.max-width-section-estudo{
    padding: 20px;
}

.text-2{
    color: #000;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

.elvolve{
padding: 30px;
text-align: center;
}


.sessao-contato{
    background: #000;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


.rosa{
    width: 200px;
    height: 200px;
}

.rosa:hover{
    width:250px;
    height: 250px;
    transition-duration: 1.0s;
    

}


.resultado{
    display: none;
    
}


.hidden{
    display: hidden;
}

.none{
    display: none;
}

.fechar{
    height: 100%;
    background: rgb(66, 64, 64);
    z-index: 9;
    position: fixed;
    width: 250px;
    top:0;
    text-align: right;
    display: none;
    transition: all 0.5s;

  }

  .btnFechar{
    color:#fff;
    font-size: 30px;
    padding: 20px;
    margin-top:10px;    
  }

  

 

.menu .li a{
    background:#000;
}


.envolve-menu{
    padding: 25px;
}

.nav-button-abre{
display: none;

}


.menu-fechar li {
    text-decoration: none;
    list-style: none;
} 

.menu-fechar li a {
    color: inherit;
}
.menu-fechar {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    flex-direction: column;
       
    color:#fff
    
}


@media(max-width: 360px){
.home-content{
    font-size: 14px;
}
.img{
    width: 150px;
    height: 150px;
}


.navbar .logo a {
    
    font-size: 25px;
    font-weight: 300;
}
.header{
    height: 100px;
}

}


.nav-button-abre{
    position: fixed;
    top: 5px;
    border: 0;
    border-radius:4px;
    padding: 8px;
    margin: 8px;  
    background:#4CCA5A;
    

}

ion-icon {
    font-size: 24px;
    color: #fff;
  }




@media(max-width: 375px){
    .home-content{
    font-size: 14px;
    }
   

    .img{     
        width: 100px;
        height: 100px;
    }
   

   

    .header{
        height: 100px;
    }
}



@media(max-width: 446px){

    .menu{
        visibility: hidden;
    }

    .sessao-home{
    padding-top: 0px;
    }
    .nav-button-abre{
        display: block;

    }

    .envolve-menu{
        padding: 0px;
    }


    .nav{
        padding: 0px;
        height: 0px;
    }

  
 .max-width{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    } 
   
    .max-width-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;        
        font-size: 16px;
    }

   .text-1{
    font-size: 12px;
   }


    .home-content{
        margin-top: 10px;
    }
   

    .header{
        height: 100px;
    }

    .nav-button-abre{
        z-index: 10;
    }

}


@media(max-width: 564px){

    #home-contato, #home-estudo, #home-historia{
        font-size: 18px;
    }
    
  
}


@media(max-width: 768px){
    .max-width-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        
    }
 
}